body{
    background-color: #FFE6E6;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: #FFE6E6;
}
h3{
    color:#CF3C52;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar ul{
    background-color: #CF3C52;
    display: flex;
    justify-content:space-evenly;
    padding: 30px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    font-weight: bolder;

}

#LOGO{
    display: flex;
    justify-content: center;
}

hr{
    color: #CF3C52;
}
table,td{

      border:2px solid #CF3C52;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px;
    font-weight: bolder;
}

th{
    color: #CF3C52;
    border:2px solid #CF3C52;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bolder;

}

td{
text-align: center;
}

#Quiz{
    background-color:#CF3C52;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    display: flex;
    font-weight:bolder;
    height: 70px;
    width: 140px;
}
#center{
    display: flex;
    justify-content: center;
}